header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #FFFAFA;
}
.header {
	&__top {
	}
	&__row {
		padding: 55px 0px 0px 0px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__search {
		width: 428px;
		height: 38px;
		border-radius: 19px;
		border: 2px solid #4d6a7c;

		color: #4d6a7c;
		font-family: Montserrat;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 13px 0px 0px 35px;
	}
	&__phone {
		display: flex;
		padding: 0px 50px 0px 50px;
	}
	&__number {
		margin: 0px 0px 0px 20px;
		color: #000000;
		font-family: Montserrat;
		font-size: 21px;
		font-weight: 600;
		line-height: 35px;
	}
	&__lang {
		display: flex;
		align-items: center;
		text-transform: uppercase;
	}
}
.phone {
	&__img {}
}
.lang {
	&__active {
		width: 30px;
		height: 30px;
		background-color: #4d6a7c;
		border-radius: 50%;
		padding: 8px 0px 0px 5px;
		color: #fff;
		font-family: Montserrat;
		font-weight: 700;
		cursor: pointer;
	}
	&__ru {
		cursor: pointer;
		margin: 0px 0px 0px 15px;
		color: #000000;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 700;
	}
}
.container {
	max-width: 1427px;
	margin: 0 auto;
	padding: 0px 15px;
}
.arrow {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 0;
	height: 0;
	border-top: 5px solid #000;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	cursor: pointer;
}
.header {
	&__navigation {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		width: 187px;
		position: relative;
		img {
			position: absolute;
			top: -45px;
			max-width: 100%;
		}
	}
}
.menu2 {
	display: none;
}
.menu {
	margin: 25px 0px 15px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	&__list {
		padding: 30px 0px 0px 0px;
		display: flex;
		justify-content: space-between;
		li {
			position: relative;
		}
	}
	&__link {
		margin: 0px 0px 0px 60px;
		text-transform: uppercase;
		color: #000000;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 600;
		line-height: 14px;
		&:hover {
			color: #4594cd;
			transition: all 0.4s;
		}
	}
}
.main {
	margin: 260px 0px 0px 0px;
	&__row {
		background-image: url(../img/header__bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		display: flex;
		justify-content: space-evenly;
	}
	&__content {
		margin: 0 auto;
	}
	&__h {
		margin: 50px 0px 0px 0px;
		max-width: 726px;
		color: #000000;
		font-family: Montserrat;
		font-size: 54px;
		font-weight: 800;
		line-height: 63.11px;
		text-transform: uppercase;
	}
	&__p {
		max-width: 651px;
		margin: 35px 0px 60px 0px;
		color: #000000;
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 300;
		line-height: 42.5px;
	}
	&__btn {
		width: 313px;
		height: 63px;
		background-color: #376f9e;
		cursor: pointer;
		border-radius: 30px;

		color: #ffffff;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 1.92px;
		text-transform: uppercase;
		padding: 24px 0px 0px 45px;
		&:hover {
			transition: all 0.4s;
			background-color: #fff;
			border: 1px solid #376f9e;
			color: #376f9e;
		}
	}
	&__img {
		background-image: url(../img/22-layers.png);
		width: 520px;
		height: 535px;
	}
	&__img2 {
		display: none;
		background-image: url(../img/22-layers.png);
		width: auto;
		height: 535px;
	}
}
.business {
	&__row {
		margin: 0px 0px 30px 0px;
	}
	&__content {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-evenly;
	}
	&__1 {
		display: flex;
		margin: 70px 0px 0px 0px;
	}
	&__img {
	}
	&__text {
		margin: 0px 0px 0px 25px;
		width: 341px;
	}
	&__h {
		text-transform: uppercase;
		color: #000000;
		font-family: Montserrat;
		font-size: 25px;
		font-weight: 700;
		line-height: 33.27px;
		letter-spacing: 1.16px;
	}
	&__p {
		color: #000000;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
	}
}
.company {
	background-color: #F8F8FF;
	&__row {
		display: flex;
		justify-content: space-evenly;
		flex-wrap:wrap;
	}
	&__content {
	}
	&__h {
		padding: 65px 0px 35px 0px;
		color: #376f9e;
		font-family: Montserrat;
		font-size: 48px;
		font-weight: 700;
		line-height: 37px;
		text-transform: uppercase;
	}
	&__p {
		max-width: 716px;
		line-height: 28px;
		color: #000000;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 300;
		span {
			font-family: Montserrat;
			font-weight: 700;
			line-height: 28px;
		}
	}
	&__img {
		margin: 20px 0px 20px 0px;
		width: 652px;
		img {
			max-width: 100%;
		}
	}
}
.globus {
	background-color: #376f9e;
	&__row {
		display: flex;
		justify-content: space-evenly;
		padding: 50px 0px 50px 0px;
	}
	&__content {}
	&__number {
		text-align: left;
	}
	&__number2 {
		text-align: right;
	}
	&__h {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 82px;
		font-weight: 700;
	}
	&__p {
		width: 280px;
		text-shadow: 0 0 21px rgba(6, 13, 18, 0.63);
		color: #ffffff;
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 400;
		padding: 0px 0px 10px 0px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5)
	}
	&__center {
		width: 393px;
		img {
			max-width: 100%;
		}
	}
	&__center2 {
		width: 253px;
		display: none;
		img {
			max-width: 100%;
		}
	}
}
.our {
	background-image: url(../img/Безымянный.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	&__row {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 65px 0px 25px 0px;
	}
	&__text {
		width: 748px;
		text-shadow: 1px 1px #fff;
	}
	&__h {
		color: #000000;
		font-family: Montserrat;
		font-size: 36px;
		font-weight: 400;
		line-height: 41.49px;
		text-transform: uppercase;
		font-family: Montserrat;
		font-weight: 700;
		span {
			font-family: Montserrat;
			font-weight: 400;
		}
	}
	&__p {
		color: #252525;
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 300;
		line-height: 30.57px;
	}
	&__btn {
		width: 319px;
		height: 82px;
		border-radius: 40px;
		background-color: #376f9e;
		cursor: pointer;

		color: #ffffff;
		font-family: Montserrat;
		font-size: 17px;
		font-weight: 600;
		line-height: 37px;
		text-transform: uppercase;
		letter-spacing: 1.7px;
		padding: 14px 0px 0px 38px;
		border: 10px solid #fff;
		transition: all 0.4s;
		&:hover {
			background-color: #fff;
			border: 10px solid #376f9e;
			color: #376f9e;
		}
	}
}
.news {
	&__top {
		margin: 18px 0px 18px 0px;
		color: #376f9e;
		font-family: Montserrat;
		font-size: 48px;
		font-weight: 400;
		line-height: 33.81px;
		text-transform: uppercase;
	}
	&__steek {
		margin: 0px 0px 24px 0px;
		width: 34px;
		height: 3px;
		background-color: #376f9e;
	}
	&__row {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	&__content {
		margin: 20px 0px 0px 0px;
		border-left: 1px solid #e8e8e8;
		padding: 0px 0px 0px 30px;
		max-width: 316px;
		flex: 1 1 auto;
		&:first-child {
			border-left: none;
			padding: 0px 0px 0px 30px;
		}
	}
	&__date {
		color: #bfbfbf;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
	}
	&__h {
		margin: 31px 0px 22px 0px;
		color: #000000;
		font-family: "Montserrat - Extra Bold";
		font-size: 16px;
		font-weight: 400;
		line-height: 14px;
	}
	&__p {
		color: #000000;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
	}
	&__btn {
		margin: 45px auto;
		width: 265px;
		height: 57px;
		border: 2px solid #4c697b;

		color: #4e6c7e;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 600;
		line-height: 37px;
		text-transform: uppercase;
		letter-spacing: 1.92px;
		padding: 10px 0px 0px 30px;
		transition: all 0.4s;
		cursor: pointer;
		&:hover {
			color: #fff;
			background-color: #4c697b;
		}
	}
}
.school {
	background-image: url(../img/sd.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	&__row {
		display: flex;
		justify-content: space-evenly;
	}
	&__text {

		position: relative;
		z-index: 1;
		max-width: 712px;
	}
	&__h {
		margin: 50px 0px 0px 0px;
		color: #000000;
		font-family: Montserrat;
		font-size: 50px;
		font-weight: 900;
		line-height: 59.23px;
		text-transform: uppercase;
	}
	&__p {
		color: #383838;
		font-family: Montserrat;
		font-size: 22px;
		font-weight: 300;
		margin: 24px 0px 84px 0px;
	}
	&__btn {
		width: 319px;
		height: 82px;
		border-radius: 40px;
		background-color: #376f9e;
		cursor: pointer;

		color: #ffffff;
		font-family: Montserrat;
		font-size: 17px;
		font-weight: 600;
		line-height: 37px;
		text-transform: uppercase;
		letter-spacing: 1.7px;
		padding: 14px 0px 0px 38px;
		border: 10px solid #fff;
		transition: all 0.4s;
		&:hover {
			background-color: #fff;
			border: 10px solid #376f9e;
			color: #376f9e;
		}
	}
	&__img {
		position: absolute;
		top: 320px;
		z-index: -1;
		img {
			max-width: 100%;
		}
	}
	&__content {
		margin: 15px 0px;
		flex: 1 1 auto;
		z-index: 2;
	}
	&__box {
		transition: all 0.4s;
		cursor: pointer;
		border-radius: 10px;
		margin: 10px 0px 0px 0px;
		padding: 35px 30px 36px 30px;
		position: relative;
		max-width: 651px;
		background-color: #ffffff;
		border: 1px solid #d1d7e0;
		&:hover {
			background-color: #376f9e;
		}
	}
	&__hh {
		color: #000000;
		font-family: Montserrat;
		font-size: 34px;
		font-weight: 700;
		line-height: 48.98px;
		text-transform: uppercase;
	}
	&__steek {
		margin: 31px 0px 24px 0px;
		width: 32px;
		height: 4px;
		background-color: #d1d7e0;
	}
	&__pp {
		color: #000000;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		line-height: 22.24px;
	}
	&__arrow {
		position: absolute;
		padding: 0px 10px 10px 0px;
		bottom: 0;
		right: 0;
	}
}
.group {
	&__row {
		margin: 60px 0px 42px 0px;
		display: flex;
		justify-content: space-around;
		align-items:center;
		}
	&__text {
		width: 680px;
	}
	&__h {
		color: #376f9e;
		font-family: Montserrat;
		font-size: 48px;
		font-weight: 800;
		line-height: 54.42px;
		text-transform: uppercase;
	}
	&__p {
		margin: 46px 0px 50px 0px;
		color: #000000;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
	}
	&__btn {
		width: 287px;
		height: 63px;
		border-radius: 32px;
		background-color: #376f9e;

		color: #ffffff;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 600;
		line-height: 37px;
		text-transform: uppercase;
		padding: 14px 0px 0px 85px;
		&:hover {
			color: #376f9e;
			background-color: #fff;
			border: 1px solid #376f9e;
			cursor: pointer;
			transition: all 0.3s;
		}
	}
	&__img {
		width: 602px;
		height: 526px;
		background-image: url(../img/ds.png);
	}
}
.people {
	background-color: #376f9e;
	&__row {
		display: flex;
		justify-content: space-around;
		padding: 33px 0px 39px 0px;
		align-items: center;
	}
	&__text {
		width: 788px;
		border-right: 1px solid rgba(255, 255, 255, 0.25);
	}
	&__h {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 55px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: Montserrat;
		margin: 0px 0px 20px 0px;
		span {
			font-family: "Montserrat";
			font-size: 33px;
			font-weight: 700;
			line-height: 37px;
		}
	}
	&__p {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 27.03px;
	}
	&__content {
		padding: 0px 0px 0px 15px;
	}
	&__input {
		margin: 0px 0px 15px 0px;
		box-shadow: 0 0 4px rgba(22, 47, 62, 0.05);
		background-color: #ffffff;
		input {
			padding: 10px 200px 10px 28px;
			color: #929292;
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 400;
			line-height: 37px;
		}
	}
	&__btn {
		width: 265px;
		height: 69px;
		border-radius: 35px;
		background-color: #376f9e;
		border: 5px solid #fff;

		color: #ffffff;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		line-height: 37px;
		text-transform: uppercase;
		padding: 12px 0px 0px 60px;
		cursor: pointer;
		transition: all 0.4s;
		&:hover {
			background-color: #fff;
			color: #376f9e;
			border: 5px solid #376f9e;
		}
	}
}
.footer {
	position: relative;
	&__iframe {
		iframe {
			width: 100%;
			height: 560px;
		}
	}
	&__box {
		flex: 1 1 auto;
		top: 20%;
		left: 10%;
		position: absolute;
		width: 423px;
		background-color: #fff;
		height: 330px;
	}
	&__text {
		padding: 15px 30px;
		margin: 15px auto;
		width: 361px;
		height: 287px;
		border: 2px solid #cdc5c7;
	}
	&__h {
		color: #000000;
		font-family: Montserrat;
		font-size: 33px;
		font-weight: 700;
		line-height: 54px;
		text-transform: uppercase;
	}
	&__p {
		padding: 33px 0px 30px 0px;
		color: #000000;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 23px;
	}
	&__phone {
		margin-bottom: 10px;
		color: #000000;
		font-family: Montserrat;
		font-size: 25px;
		font-weight: 600;
		line-height: 30px;
	}
}
.end {
	background-color: #fff;
	&__text {
		max-width: 351px;
		color: #000000;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 23px;
		margin: 15px auto;
	}
}
